.bg-banner{
    background-image: url(img/banner-eng.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgoldenrodyellow;
}
.h2-banner{
    font-size: 3rem;
}
.h2-banner:hover{
    font-size: 3.5rem;
}
.one-article{
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin-left: 15%;
}
.first-one-article{
    border: 2px solid darkred;
    margin: 2rem;
}
.div-text-article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.one-text-article{
    text-align: center;
    padding: 2rem;
}
.h3-first-article{
    margin-bottom: 2rem;
}
.second-one-article{
    border: 2px solid darkred;
    margin: 2rem;
    display: flex;
    flex-direction: row-reverse;
}
.div2-text-article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.two-text-article{
    text-align: center;
    padding: 2rem;
}
.h3-two-article{
    margin-bottom: 2rem;
}
.thirty-one-article{
    border: 2px solid darkred;
    margin: 2rem;
    display: flex;
    flex-direction: row-reverse;
}
.div3-text-article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.three-text-article{
    text-align: center;
    padding: 2rem;
}
.h3-three-article{
    margin-bottom: 2rem;
}
.bg-img-banner-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/foot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: auto;
}
.button-foot{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkred;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    border: solid darkred;
}